### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
# External projects
*-prefix/

### Editors ###
# Clion
.idea/*
# VSCode
.vscode/*

### Directories ###
cmake-build-debug/*
cmake-build-debug-coverage/*
build/*
tests/*
ProgettoAPI2020_GeneratoreTest/*

### Files ###
/*.txt
/*.out
/*.py
